// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #ff7900;
$secondary: #000;
$success: #228722;
$warning: #fc0;
$danger: #cd3c14;
$info: #4170d8;

$btn-border-radius: none;
$btn-border-radius-sm: none;
$btn-border-radius-lg: none;
$btn-transition: none;

$link-color: $secondary;
$link-hover-color: $primary;

@import '../node_modules/bootstrap/scss/bootstrap';

// shared

@import 'shared/icon';

// app

@import 'features/layout';
@import 'features/header';
@import 'features/footer';
