@include media-breakpoint-up(md) {
  html {
    height: 100vh;

    body {
      height: 100vh;

      #root {
        height: 100vh;

        .oriole__overflow {
          overflow: auto;
          max-height: 94.1vh;
        }
      }
    }
  }
}
